<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹디자인기능사 레이아웃 C-1유형</title>
  <link rel="stylesheet" href="./C-1.css" />
</head>
<body>
  <div id="wrap">
    <aside id="aside">
      <h1 class="logo">
        <span class="text">로고</span>
      </h1>
      <nav class="nav">
        <span class="text">메뉴</span>
      </nav>
    </aside>
    <!-- // aside -->

    <main id="main">
      <article id="slider">
        <span class="text">이미지 슬라이드</span>
      </article>
      <!-- // slider -->

      <section id="contents">
        <article class="content1">
          <span class="text">공지사항(C.1) / 갤러리(C.2)</span>
        </article>
        <article class="content2">
          <span class="text">배너(C.3)</span>
        </article>
        <article class="content3">
          <span class="text">바로가기(C.4)</span>
        </article>
      </section>
      <!-- // contents -->

      <footer id="footer">
        <div class="footer1">
          <span class="text">로고</span>
        </div>
        <div class="footer2">
          <div class="footer2-1">
            <span class="text">하단 메뉴</span>
          </div>
          <div class="footer2-2">
            <span class="text">Copyright</span>
          </div>
        </div>
      </footer>
      <!-- // footer -->
    </main>
    <!-- // wrap -->
  </div>
</body>
</html>