* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#aside {
  width: 200px;
}
#aside .logo {
  width: 100%;
  height: 150px;
  background-color: #ef9297;
}
#aside .nav {
  width: 100%;
  height: 500px;
  background-color: #f9b294;
}

#main {
  width: calc(100% - 200px);
}

#slider {
  display: flex;
  width: 100%;
}
#slider .image {
  width: calc(100% - 230px);
  height: 400px;
  background-color: #f1f2ca;
}
#slider .banner {
  width: 230px;
  height: 400px;
  background: #c8d8b4;
}

#contents {
  display: flex;
  width: 100%;
}
#contents .content1 {
  width: 50%;
  height: 250px;
  background-color: #6acd95;
}
#contents .content2 {
  width: 50%;
  height: 250px;
  background-color: #8ecaee;

}

#footer {
  display: flex;
  width: 100%;
}
#footer .footer1 {
  width: 20%;
  height: 100px;
  background-color: #a9a3c7;
}
#footer .footer2 {
  width: 60%;
  height: 100px;
  background-color: #9c8688;
}
#footer .footer3 {
  width: 20%;
  height: 100px;
  background-color: #c1c5c6;
}