<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹디자인기능사 레이아웃 D-1유형</title>
  <link rel="stylesheet" href="./D-1.css" />
</head>
<body>
  <div id="wrap">
    <aside id="aside">
      <h1 class="logo">
        <span class="text">로고</span>
      </h1>
      <nav class="nav">
        <span class="text">메뉴</span>
      </nav>
    </aside>
    <!-- // aside -->

    <main id="main">
      <article id="slider">
        <span class="text">이미지 슬라이드</span>

        <div class="link">
          <span class="text">링크</span>
        </div>
      </article>
      <!-- // slider -->

      <article id="banner">
        <span class="text">배너</span>
      </article>

      <section id="contents">
        <span class="text">공지사항(C.1) / 갤러리(C.2)</span>
      </section>
      <!-- // contents -->
    </main>
    <!-- // main-->

    <footer id="footer">
      <div class="footer1">
        <span class="text">LOGO</span>
      </div>
      <div class="footer2">
        <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia non tempora voluptates ipsam praesentium nihil quod id modi eveniet! Quia.</span>
      </div>
      <div class="footer3">
        <span class="text">SNS</span>
      </div>
    </footer>
    <!-- // footer -->
  </div>
  <!-- // wrap -->
</body>
</html>