<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹디자인기능사 레이아웃 A-1유형</title>
  <link rel="stylesheet" href="./A-1.css" />
</head>
<body>
  <div id="wrap">
    <div id="header">
      <div class="logo">
        <div class="text">로고</div>
      </div>
      <div class="nav">
        <div class="text">메뉴</div>
      </div>
    </div>
    <!-- // header -->

    <div id="slider">
      <div class="text">이미지 슬라이드</div>
    </div>
    <!-- // slide -->

    <div id="contents">
      <div class="content1">
        <div class="text">공지사항(C.1) / 갤러리(C.2)</div>
      </div>
      <div class="content2">
        <div class="text">배너(C.3)</div>
      </div>
      <div class="content3">
        <div class="text">바로가기(C.4)</div>
      </div>
    </div>
    <!-- // contents -->

    <div id="footer">
      <div class="footer1">
        <div class="text">로고</div>
      </div>
      <div class="footer2">
        <div class="text">Copyright</div>
      </div>
      <div class="footer3">
        <div class="text">SNS</div>
      </div>
    </div>
    <!-- // footer -->
  </div>
  <!-- // wrap -->
</body>
</html>