<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹디자인기능사 레이아웃 B-3유형</title>
  <link rel="stylesheet" href="./B-3.css" />
</head>
<body>
  <div id="wrap">
    <header id="header">
      <div class="header_container">
        <h1 class="logo">
          <span class="text">로고</span>
        </h1>
        <nav class="nav">
          <span class="text">메뉴</span>
        </nav>
      </div>
    </header>
    <!-- // header -->

    <article id="slider">
      <span class="text">이미지 슬라이드</span>
    </article>
    <!-- // slider -->

    <main id="contents">
      <section class="content1">
        <span class="text">공지사항(C.1)</span>
      </section>
      <section class="content2">
        <span class="text">갤러리(C.2)</span>
      </section>
      <section class="content3">
        <span class="text">배너(C.3)</span>
      </section>
    </main>
    <!-- // contents -->

    <footer id="footer">
      <div class="footer_container">
        <div class="footer1">
          <span class="text">로고</span>
        </div>
        <div class="footer2">
          <span class="text">Copyright</span>
        </div>
        <div class="footer3">
          <span class="text">SNS</span>
        </div>
      </div>
    </footer>
    <!-- // footer -->
  </div>
  <!-- // wrap -->
</body>
</html>