* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#wrap {
  width: 100%;
}

#main {
  display: flex;
  width: 100%;
  height: calc(100vh - 120px);
}
#header {
  width: 200px;
  height: 100%;
}
#header .logo {
  width: 100%;
  height: 20%;
  background-color: #ef9297;
}
#header .nav {
  width: 100%;
  height: 80%;
  background-color: #f9b294;
}

#contents {
  width: 400px;
  height: 100%;
}
#contents .banner {
  width: 100%;
  height: 15%;
  background-color: #f1f2ca;
}
#contents .notice {
  width: 100%;
  height: 35%;
  background-color: #c8d8b4;
}
#contents .gallery {
  width: 100%;
  height: 35%;
  background-color: #6acd95;
}
#contents .link {
  width: 100%;
  height: 15%;
  background-color: #8ecaee;
}

#slider {
  width: calc(100% - 200px - 400px);
  height: 100%;
  background-color: #6b8cf8;
}

#footer {
  display: flex;
  width: 100%;
}
#footer .footer1 {
  width: 200px;
  height: 120px;
  background-color: #a9a3c7;
}
#footer .footer2 {
  width: calc(100% - 200px);
}
#footer .footer2 .footer2-1 {
  width: 100%;
  height: 60px;
  background-color: #9c8688;
}
#footer .footer2 .footer2-2 {
  width: 100%;
  height: 60px;
  background: #c1c5c6;
}