<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹디자인기능사 레이아웃 E-3유형</title>
  <link rel="stylesheet" href="./E-3.css" />
</head>
<body>
  <div id="wrap">
    <main id="main">
      <header id="header">
        <h1 class="logo">
          <span class="text">로고</span>
        </h1>
        <nav class="nav">
          <span class="text">메뉴</span>
        </nav>
      </header>
      <!-- // header-->

      <section id="contents">
        <article class="banner">
          <span class="text">배너</span>
        </article>
        <!-- // banner -->
        <article class="notice">
          <span class="text">공지사항</span>
        </article>
        <!-- // notice -->
        <article class="gallery">
          <span class="text">갤러리</span>
        </article>
        <!-- // gallery -->
      </section>
      <!-- // contents-->

      <article id="slider">
        <span class="text">이미지 슬라이드</span>
      </article>
      <!-- // slider -->
    </main>
    <!-- // main-->

    <footer id="footer">
      <div class="footer1">
        <span class="text">로고</span>
      </div>
      <div class="footer2">
        <span class="text">Copyright</span>
      </div>
      <div class="footer3">
        <span class="text">SNS</span>
      </div>
    </footer>
    <!-- // footer -->
  </div>
  <!-- // wrap-->
</body>
</html>